<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<title>@ViewData["Title"] - lab2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lab2.styles.css" asp-append-version="true" />
	@RenderSection("Styles", false)
</head>
<body>
	<header>
		<div class="header-content">
			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<span>Добро пожаловать, @User.Identity.Name!</span>
			}
			else
			{
				<span>Добро пожаловать, Гость!</span>
			}
		</div>
	</header>

	<div class="container">

		<!-- Выводим ошибки, если они есть -->
		@if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger">
				<ul>
					@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
					{
						<li>@error.ErrorMessage</li>
					}
				</ul>
			</div>
		}

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}

		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-info">
				@TempData["SuccessMessage"]
			</div>
		}

		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
